<div class="header">
	<h1>Your Test Notifications Server is ready!</h1>
	<%= link_to 'Continue Setup', 'https://chain.com/notifications/setup?server_url=' + url_encode(@url), target: '_blank', class: 'btn' %>
</div>

<div id="result-container"></div>